<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Map block to display the location of the store -->
  <div class="map-container">
    <img src="assets/map.jpg" alt="Store Location Map">
  </div>

  <!-- List of products -->
  <ion-list>
    <ion-item *ngFor="let product of products">
      <ion-thumbnail slot="start">
        <ion-img [src]="product.image" alt="Product Image"></ion-img>
      </ion-thumbnail>
      <ion-label>
        <h2>{{ product.name }}</h2>
        <p>{{ product.description }}</p>
        <p>Price: {{ product.price }}</p>
        <ion-button (click)="addToCart(product)" color="primary" size="small">Add to Cart</ion-button>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

