<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profile</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list lines="full">
    <ion-item>
      <ion-label position="stacked">Username</ion-label>
      <ion-input type="text" [(ngModel)]="username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input type="email" [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Address</ion-label>
      <ion-input type="text" [(ngModel)]="address"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">New Password</ion-label>
      <ion-input type="password" [(ngModel)]="newPassword"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Confirm Password</ion-label>
      <ion-input type="password" [(ngModel)]="confirmPassword"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button expand="block" (click)="updateProfile()">Update Profile</ion-button>
</ion-content>
